---
import DocsLayout from "../../../layouts/DocsLayout.astro"
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const concepts = await getCollection('concepts')
  return concepts.map((concept) => {
    const slugParam = concept.slug.includes('/')
      ? concept.slug.split('/')
      : concept.slug

    return {
      params: { slug: slugParam },
      props: { concept },
    }
  })
}

const { concept } = Astro.props
if (!concept) throw new Error('Concept not found')
const { Content, data } = await concept.render()
---
<DocsLayout title={data.title} description={data.description}>
  <article class="prose">
    <h1>{data.title}</h1>
    <Content />
  </article>
</DocsLayout>
